= form_for @tweet do |f|
  - if @tweet.errors.any?
    #error_explanation
      h2 = "#{pluralize(@tweet.errors.count, "error")} prohibited this tweet from being saved:"
      ul
        - @tweet.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :hashtag
    = f.text_field :hashtag
  .field
    = f.label :automode
    = f.check_box :automode
  .actions = f.submit
