h1 Listing tweets

table
  thead
    tr
      th Hashtag
      th Automode
      th
      th
      th

  tbody
    - @tweets.each do |tweet|
      tr
        td = tweet.hashtag
        td = tweet.automode
        td = link_to 'Show', tweet
        td = link_to 'Edit', edit_tweet_path(tweet)
        td = link_to 'Destroy', tweet, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Tweet', new_tweet_path
