doctype html
html lang="en" 
  head
    /! Required meta tags
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" /
    /! Metro 4
    link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css" rel="stylesheet" /
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
body
  == yield
